/* manrope-regular - latin_cyrillic */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/manrope-v11-latin_cyrillic-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/manrope-v11-latin_cyrillic-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* manrope-500 - latin_cyrillic */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('../fonts/manrope-v11-latin_cyrillic-500.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/manrope-v11-latin_cyrillic-500.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* manrope-600 - latin_cyrillic */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('../fonts/manrope-v11-latin_cyrillic-600.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/manrope-v11-latin_cyrillic-600.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* manrope-700 - latin_cyrillic */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/manrope-v11-latin_cyrillic-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/manrope-v11-latin_cyrillic-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: #000000;
    font-family: 'Manrope', 'Arial', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

img {
    vertical-align: middle;
}

.container {
    width: 100%;
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}

body::-webkit-scrollbar {
    width: 6px;
   
  }
   
 
   
  body::-webkit-scrollbar-thumb {
    background-color: #BA8D5B;
    border-radius: 30px;
  }


@media only screen and (max-width: 992px) {
    .container {
        padding: 0 64px;
    }
}

@media only screen and (max-width: 576px) {
    .container {
        padding: 0 20px;
    }
}