.card {
    width: 31%;
    background: #F9F9F9;
    border-radius: 4px;
    padding: 24px 32px;
    margin-left: 20px;
    margin-bottom: 20px;
    list-style: none;
    border: 2px solid transparent;
    transition: all ease 0.2s;
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        border: 2px solid #D2CDC2;
        box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.1);
    }
}


.jobs__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-bottom: -20px;
}

.card__img {
    border-radius: 50%;
    margin-right: 16px;
}

.card__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #000000;
    margin-bottom: 8px;
}

.card__id {
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: #81755C;
}

@media only screen and (max-width:992px) {
   

    .card {
        width: 46%;
    }

    .card__title {
        font-size: 18px;
        line-height: 24px;
    }
}

@media only screen and (max-width:690px) {
   

    .card {
        width: 100%;
    }
}