.search__input {
    width: 354px;
    background-image: url("../../assets/images/search-icon.svg");
    background-repeat: no-repeat;
    background-position: top 10px left 16px;
    background-color: #FFFFFF;
    border: 2px solid #dadada;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 10px 14px 9px 44px;

    &::placeholder {
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: -0.02em;
        color: #C4C4C4;
    }

    &:focus{
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(218, 218, 218, 0.75)
    }
}

@media only screen and (max-width: 992px) {
    .search__input {
        width: 100%;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 576px) {

    .search__form {
        width: 100%;
    }
    .search__input {
        width: 100%;
    }
    
}
