.signin__button {
    display: inline-block;
    text-align: center;
    letter-spacing: -0.02em;
    margin: 0px 10px;
    text-decoration: none;
    color: #000000;
    background: #E6E0D4;
    border-radius: 100px;
    padding: 9px 24px;
}