.jobs__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-bottom: -20px;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.single__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: -0.02em;
}

@media only screen and (max-width:992px) {
    

    .single__title {
        font-size: 36px;
        line-height: 42px;
    }
}