.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.jobs__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-bottom: -20px;
}

.home__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: -0.02em;
}

@media only screen and (max-width:992px) {
    .home__title {
        font-size: 36px;
        line-height: 42px;
        letter-spacing: -0.02em;
        margin-bottom: 18px;
    }

    .jobs__list{
        justify-content: center;
    }

    .staff__card {
        width: 47%;
    }
}

@media only screen and (max-width:576px) {
    .home__title {
        font-size: 28px;
        line-height: 33px;
    }

    .jobs__list{
        justify-content: center;
    }

    .staff__card {
        width: 100%;
    }
}   